@import 'Initial.css';
@import 'Header.css';
@import 'TimeLogger.css';
@import 'Settings.css';

* {
  box-sizing: border-box;
}

html,
body,
div#root,
.App {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 16px;
  font-family: sans-serif;
  background: #E0DBDF;
}

ul
{
  padding: 0;
  margin: 0;
}

button:focus
{
  outline: none;
}

button
{
  display: flex;
  outline: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
  background: none;
  text-align: left;
}

.label
{
  font-weight: bold;
  margin-right: 5px;
}

.btn_secondary
{
  text-decoration: underline;
  color: #351431;
  font-size: 16px;
}

.btn
{
  border-radius: 4px;
  color: white;
  background-color: #351431;
  font-size: 16px;
  padding: 16px;
}

.btn:hover
{
  background-color: #775273;
}
