.Initial-main {
  font-size: 25px;
  margin-bottom: 15px;
}

.Initial-list {
  list-style: none;
}

.Initial-listItemHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.Initial-listItemDescription {
  margin-bottom: 15px;
}