.Settings
{
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #E0DBDF;
}

.Settings div
{
  margin-bottom: 16px;
}